
.linklist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.linklist li {
    float: left;
    border-right: 1px solid;
}
.linklist li a {
    display: block;
    padding: 0px 4px;
}

.linklist li:first-child a {
    display: block;
    padding: 0px 4px 0 0;
}

.linklist li:last-child {
    border-right: none;
}
